asgiref
boto3
botocore
dj-database-url
Django
django-auto-logout
django-ckeditor
django-ckeditor-5
django-crispy-forms
django-dotenv
django-environ
django-filter
django-formset-js-improved
django-heroku
django-jazzmin
django-jquery-js
django-js-asset
django-mailgun-provider
django-plaintext-password
django-rest-auth
django-rest-framework
django-social-share
django-static-fontawesome
django-storages
django-taggit
django-import-export
django-templated-mail
django-tinymce
django-widget-tweaks
djangorestframework
djangorestframework-simplejwt
djoser
gunicorn
lxml
pandas
Pillow
psycopg2
psycopg2-binary
python-decouple
requests
requests-oauthlib
rjsmin
s3transfer
validate-email
whitenoise
shortuuid