{% load static %}

<!-- Header Section Begin -->
<header class="header-area header-style-1 header-height-2">
  <div class="mobile-promotion">
    <span
      >Grand opening, <strong>up to 15%</strong> off all items. Only
      <strong>3 days</strong> left</span
    >
  </div>
  <div class="header-top header-top-ptb-1 d-none d-lg-block">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xl-3 col-lg-4">
          <div class="header-info">
            <ul>
              <li><a href="{% url 'core:about_us' %}">About Us</a></li>
              <li><a href="{% url 'core:wishlist' %}">Wishlist</a></li>
              <li><a href="{% url 'core:dashboard' %}">Order Tracking</a></li>
              {% if request.user.is_authenticated %}
              <li><a href="{% url 'core:dashboard' %}">My Account</a></li>
              {% else %}
              <li><a href="{% url 'userauths:sign-up' %}">Register</a></li>
              {% endif %}
            </ul>
          </div>
        </div>
        <div class="col-xl-6 col-lg-4">
          <div class="text-center">
            <div id="news-flash" class="d-inline-block">
              <ul>
                <li>100% Secure delivery without contacting the courier</li>
                <li>Supper Value Deals - Save more with coupons</li>
                <li>Trendy 25silver jewelry, save up 35% off today</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4">
          <div class="header-info header-info-right">
            <ul>
              <li>
                Need help? Call Us:
                <strong class="text-brand"> +234 708-548-8324 </strong>
              </li>
              <li>
                <a class="language-dropdown-active" href="#"
                  >English <i class="fi-rs-angle-small-down"></i
                ></a>
                <ul class="language-dropdown">
                  <li>
                    <a href="#"
                      ><img
                        src="{% static 'assets/imgs/theme/flag-fr.png' %}"
                        alt=""
                      />Français</a
                    >
                  </li>
                  <li>
                    <a href="#"
                      ><img
                        src="{% static 'assets/imgs/theme/flag-dt.png' %}"
                        alt=""
                      />Deutsch</a
                    >
                  </li>
                  <li>
                    <a href="#"
                      ><img
                        src="{% static 'assets/imgs/theme/flag-ru.png' %}"
                        alt=""
                      />Pусский</a
                    >
                  </li>
                </ul>
              </li>
              <li>
                <a class="language-dropdown-active" href="#"
                  >USD <i class="fi-rs-angle-small-down"></i
                ></a>
                <ul class="language-dropdown">
                  <li>
                    <a href="#"
                      ><img
                        src="{% static 'assets/imgs/theme/flag-fr.png' %}"
                        alt=""
                      />INR</a
                    >
                  </li>
                  <li>
                    <a href="#"
                      ><img
                        src="{% static 'assets/imgs/theme/flag-dt.png' %}"
                        alt=""
                      />MBP</a
                    >
                  </li>
                  <li>
                    <a href="#"
                      ><img
                        src="{% static 'assets/imgs/theme/flag-ru.png' %}"
                        alt=""
                      />EU</a
                    >
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header-middle header-middle-ptb-1 d-none d-lg-block">
    <div class="container">
      <div class="header-wrap">
        <div class="logo logo-width-1">
          <a href="{% url 'core:index' %}"
            ><img src="{% static 'assets/imgs/logo.png' %}" alt="logo"
          /></a>
        </div>
        <div class="header-right">
          <div class="search-style-2">
            <form action="{% url 'core:search' %}" method="GET">
              <select class="select-active">
                <option>All Categories</option>
                <option>Milks and Dairies</option>
                <option>Wines & Alcohol</option>
                <option>Clothing & Beauty</option>
                <option>Pet Foods & Toy</option>
                <option>Fast food</option>
                <option>Baking material</option>
                <option>Vegetables</option>
                <option>Fresh Seafood</option>
                <option>Noodles & Rice</option>
                <option>Ice cream</option>
              </select>
              <input type="text" placeholder="Search for items..." name="q" />
              <button class="material-symbols-outlined" type="submit">
                <span class="material-symbols-outlined">search</span>
              </button>
            </form>
          </div>
          <div class="header-action-right">
            <div class="header-action-2">
              <div class="search-location">
                <form action="#">
                  <select class="select-active">
                    <option>Your Location</option>
                    <option>Alabama</option>
                    <option>Alaska</option>
                    <option>Arizona</option>
                    <option>Delaware</option>
                    <option>Florida</option>
                    <option>Georgia</option>
                    <option>Hawaii</option>
                    <option>Indiana</option>
                    <option>Maryland</option>
                    <option>Nevada</option>
                    <option>New Jersey</option>
                    <option>New Mexico</option>
                    <option>New York</option>
                  </select>
                </form>
              </div>
              <!-- <div class="header-action-icon-2">
                                <a href="shop-compare.html">
                                    <img class="svgInject" alt="PhoenixMart" src="{% static 'assets/imgs/theme/icons/icon-compare.svg' %}" />
                                    <span class="pro-count blue ">3</span>
                                </a>
                                <a href="shop-compare.html"><span class="lable ml-0">Compare</span></a>
                            </div> -->
              <div class="header-action-icon-2">
                <a href="{% url 'core:wishlist' %}">
                  <img
                    class="svgInject"
                    alt="PhoenixMart"
                    src="{% static 'assets/imgs/theme/icons/icon-heart.svg' %}"
                  />
                  {% if request.user.is_authenticated %}
                  <span class="pro-count blue">{{ wishlist.count }}</span>
                  {% else %}
                  <span class="pro-count blue">0</span>
                  {% endif %}
                </a>
                <a href="{% url 'core:wishlist' %}"
                  ><span class="lable">Wishlist</span></a
                >
              </div>
              <div class="header-action-icon-2">
                <a class="mini-cart-icon" href="{% url 'core:cart' %}">
                  <img
                    alt="PhoenixMart"
                    src="{% static 'assets/imgs/theme/icons/icon-cart.svg' %}"
                  />
                  <span class="pro-count blue cart-items-count"
                    >{{ request.session.cart_data_obj|length }}</span
                  >
                </a>
                <a href="{% url 'core:cart' %}"
                  ><span class="lable">Cart</span></a
                >
                <div class="cart-dropdown-wrap cart-dropdown-hm2">
                  <div class="shopping-cart-footer">
                    <div class="shopping-cart-button">
                      <a href="{% url 'core:cart' %}" class="outline"
                        >View cart</a
                      >
                      <a href="{% url 'core:checkout' %}">Checkout</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="header-action-icon-2">
                <a href="{% url 'core:dashboard' %}">
                  <img
                    class="svgInject"
                    alt="PhoenixMart"
                    src="{% static 'assets/imgs/theme/icons/icon-user.svg' %}"
                  />
                </a>
                <a href="{% url 'core:dashboard' %}"
                  ><span class="lable ml-0">Account</span></a
                >
                <div
                  class="cart-dropdown-wrap cart-dropdown-hm2 account-dropdown"
                >
                  <ul>
                    <li>
                      <a href="{% url 'core:dashboard' %}"
                        ><i class="fi fi-rs-user mr-10"></i>My Account</a
                      >
                    </li>
                    <li>
                      <a href="{% url 'useradmin:dashboard' %}"
                        ><i class="fi fi-rs-user mr-10"></i>Admin Dashboard</a
                      >
                    </li>
                    <li>
                      <a href="{% url 'core:dashboard' %}"
                        ><i class="fi fi-rs-location-alt mr-10"></i>Order
                        Tracking</a
                      >
                    </li>
                    <!-- <li><a href="page-account.html"><i class="fi fi-rs-label mr-10"></i>My Voucher</a></li> -->
                    <li>
                      <a href="{% url 'core:wishlist' %}"
                        ><i class="fi fi-rs-heart mr-10"></i>My Wishlist</a
                      >
                    </li>
                    <li>
                      <a href="{% url 'core:dashboard' %}"
                        ><i class="fi fi-rs-settings-sliders mr-10"></i
                        >Setting</a
                      >
                    </li>
                    {% if request.user.is_authenticated %}
                    <li>
                      <a href="{% url 'userauths:sign-out' %}"
                        ><i class="fi fi-rs-sign-out mr-10"></i>Sign out</a
                      >
                    </li>
                    {% else %}
                    <li>
                      <a href="{% url 'userauths:sign-in' %}"
                        ><i class="fi fi-rs-sign-in mr-10"></i>Sign In</a
                      >
                    </li>
                    {% endif %}
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header-bottom header-bottom-bg-color sticky-bar">
    <div class="container">
      <div class="header-wrap header-space-between position-relative">
        <div class="logo logo-width-1 d-block d-lg-none">
          <a href="{% url 'core:index' %}"
            ><img src="{% static 'assets/imgs/logo.png' %}" alt="logo"
          /></a>
        </div>
        <div class="header-nav d-none d-lg-flex">
          <div class="main-categori-wrap d-none d-lg-block">
            <a class="categories-button-active" href="#">
              <span class="fi-rs-apps"></span>
              <span class="et">Browse</span> All Categories
              <i class="fi-rs-angle-down"></i>
            </a>
            <div
              class="categories-dropdown-wrap categories-dropdown-active-large font-heading"
            >
              <div class="d-flex categori-dropdown-inner">
                <ul>
                  {% for c in categories %}

                  <li>
                    <a href="{% url 'core:category-product-list' c.cid %}">
                      <img src="{{ c.image.url }}" alt="" />{{c.title}}</a
                    >
                  </li>
                  {% endfor %}
                </ul>
              </div>

              <div class="more_categories">
                <span class="icon"></span>
                <a href="{% url 'core:category-list' %}">
                  <span class="heading-sm-1">Show more...</span>
                </a>
              </div>
            </div>
          </div>
          <div
            class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block font-heading"
          >
            <nav>
              <ul>
                <li class="hot-deals">
                  <img
                    src="{% static 'assets/imgs/theme/icons/icon-hot.svg' %}"
                    alt="hot deals"
                  /><a href="{% url 'core:product-list' %}">Deals</a>
                </li>
                <li>
                  <a class="active" href="{% url 'core:index' %}">Home</a>
                </li>

                <li>
                  <a href="{% url 'core:category-list' %}"
                    >Category <i class="fi-rs-angle-down"></i
                  ></a>
                  <ul class="sub-menu">
                    {% for c in categories %}
                    <li>
                      <a href="{% url 'core:category-product-list' c.cid %}"
                        >{{c.title}}</a
                      >
                    </li>
                    {% endfor %}
                    <hr />
                    <li>
                      <a href="{% url 'core:category-list' %}"
                        >All Categories</a
                      >
                    </li>
                  </ul>
                </li>

                <li>
                  <a href="{% url 'core:product-list'  %}">Shop</a>
                </li>

                <li>
                  <a href="{% url 'core:vendor-list' %}">Vendors </a>
                </li>
                <li class="position-static">
                  <a href="#">Mega menu <i class="fi-rs-angle-down"></i></a>
                  <ul class="mega-menu">
                    <li class="sub-mega-menu sub-mega-menu-width-22">
                      <a class="menu-title" href="#">Fruit & Vegetables</a>
                      <ul>
                        <li><a href="#">Meat & Poultry</a></li>
                        <li><a href="#">Fresh Vegetables</a></li>
                        <li><a href="#">Herbs & Seasonings</a></li>
                        <li><a href="#">Cuts & Sprouts</a></li>
                        <li><a href="#">Exotic Fruits & Veggies</a></li>
                        <li><a href="#">Packaged Produce</a></li>
                      </ul>
                    </li>
                    <li class="sub-mega-menu sub-mega-menu-width-22">
                      <a class="menu-title" href="#">Breakfast & Dairy</a>
                      <ul>
                        <li><a href="#">Milk & Flavoured Milk</a></li>
                        <li><a href="#">Butter and Margarine</a></li>
                        <li><a href="#">Eggs Substitutes</a></li>
                        <li><a href="#">Marmalades</a></li>
                        <li><a href="#">Sour Cream</a></li>
                        <li><a href="#">Cheese</a></li>
                      </ul>
                    </li>
                    <li class="sub-mega-menu sub-mega-menu-width-22">
                      <a class="menu-title" href="#">Meat & Seafood</a>
                      <ul>
                        <li><a href="#">Breakfast Sausage</a></li>
                        <li><a href="#">Dinner Sausage</a></li>
                        <li><a href="#">Chicken</a></li>
                        <li><a href="#">Sliced Deli Meat</a></li>
                        <li><a href="#">Wild Caught Fillets</a></li>
                        <li><a href="#">Crab and Shellfish</a></li>
                      </ul>
                    </li>
                    <li class="sub-mega-menu sub-mega-menu-width-34">
                      <div class="menu-banner-wrap">
                        <a href="#"
                          ><img
                            src="{% static 'assets/imgs/banner/banner-menu.png' %}"
                            alt="PhoenixMart"
                        /></a>
                        <div class="menu-banner-content">
                          <h4>Hot deals</h4>
                          <h3>
                            Don't miss<br />
                            Trending
                          </h3>
                          <div class="menu-banner-price">
                            <span class="new-price text-success"
                              >Save to 50%</span
                            >
                          </div>
                          <div class="menu-banner-btn">
                            <a href="{% url 'core:product-list'  %}"
                              >Shop now</a
                            >
                          </div>
                        </div>
                        <div class="menu-banner-discount">
                          <h3><span>25%</span> off</h3>
                        </div>
                      </div>
                    </li>
                  </ul>
                </li>
                <li>
                  <a>Blog</a>
                </li>
                <li>
                  <a href="#">Pages <i class="fi-rs-angle-down"></i></a>
                  <ul class="sub-menu">
                    <li><a href="{% url 'core:about_us' %}">About Us</a></li>
                    <li><a href="{% url 'core:contact' %}">Contact</a></li>
                    <li>
                      <a href="{% url 'core:dashboard' %}">My Dashboard</a>
                    </li>
                    <li>
                      <a href="{% url 'core:purchase_guide' %}"
                        >Purchase Guide</a
                      >
                    </li>
                    <li>
                      <a href="{% url 'core:privacy_policy' %}"
                        >Privacy Policy</a
                      >
                    </li>
                    <li>
                      <a href="{% url 'core:terms_of_service' %}"
                        >Terms of Service</a
                      >
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="{% url 'core:contact' %}">Contact</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="hotline d-none d-lg-flex">
          <img
            src="{% static 'assets/imgs/theme/icons/icon-headphone.svg' %}"
            alt="hotline"
          />
          <p>+234 708-548-8324 <span>24/7 Support Center</span></p>
        </div>
        <div class="header-action-icon-2 d-block d-lg-none">
          <div class="burger-icon burger-icon-white">
            <span class="burger-icon-top"></span>
            <span class="burger-icon-mid"></span>
            <span class="burger-icon-bottom"></span>
          </div>
        </div>
        <div class="header-action-right d-block d-lg-none">
          <div class="header-action-2">
            <div class="header-action-icon-2">
              <a href="{% url 'core:wishlist' %}">
                <img
                  alt="PhoenixMart"
                  src="{% static 'assets/imgs/theme/icons/icon-heart.svg' %}"
                />
                {% if request.user.is_authenticated %}
                <span class="pro-count blue">{{ wishlist.count }}</span>
                {% else %}
                <span class="pro-count blue">0</span>
                {% endif %}
              </a>
            </div>
            <div class="header-action-icon-2">
              <a class="mini-cart-icon" href="{% url 'core:cart' %}">
                <img
                  alt="PhoenixMart"
                  src="{% static 'assets/imgs/theme/icons/icon-cart.svg' %}"
                />
                <span class="pro-count white cart-items-count"
                  >{{ request.session.cart_data_obj|length }}</span
                >
              </a>
              <div class="cart-dropdown-wrap cart-dropdown-hm2">
                <div class="shopping-cart-footer">
                  <div class="shopping-cart-button">
                    <a href="{% url 'core:cart' %}">View cart</a>
                    <a href="{% url 'core:checkout' %}">Checkout</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% if messages %} {% for message in messages %}
      <div class="alert alert-{{message.tags}}">
        <strong>{{ message }}</strong>
      </div>
      {% endfor %} {% endif %}
      <script>
        setTimeout(() => {
          $(".alert").alert("close");
        }, 3000);
      </script>
    </div>
  </div>
</header>
<!-- Header Section End -->
