{% load static %}
<div class="mobile-header-active mobile-header-wrapper-style">
  <div class="mobile-header-wrapper-inner">
    <div class="mobile-header-top">
      <div class="mobile-header-logo">
        <a href="{% url 'core:index' %}"
          ><img src="{% static 'assets/imgs/logo.png' %}" alt="logo"
        /></a>
      </div>
      <div
        class="mobile-menu-close close-style-wrap close-style-position-inherit"
      >
        <button class="close-style search-close">
          <i class="icon-top"></i>
          <i class="icon-bottom"></i>
        </button>
      </div>
    </div>
    <div class="mobile-header-content-area">
      <div class="mobile-search search-style-3 mobile-header-border">
        <form action="#">
          <input type="text" placeholder="Search for items…" />
          <button type="submit"><i class="fi-rs-search"></i></button>
        </form>
      </div>
      <div class="mobile-menu-wrap mobile-header-border">
        <!-- mobile menu start -->
        <nav>
          <ul class="mobile-menu font-heading">
            <li class="menu-item-has-children">
              <a href="{% url 'core:index' %}">Home</a>
            </li>
            <li class="menu-item-has-children">
              <a href="{% url 'core:category-list' %}">Categories</a>
              <!-- <ul class="dropdown">
                                <li><a href="vendors-grid.html">Vendors Grid</a></li>
                                <li><a href="vendors-list.html">Vendors List</a></li>
                                <li><a href="vendor-details-1.html">Vendor Details 01</a></li>
                                <li><a href="vendor-details-2.html">Vendor Details 02</a></li>
                                <li><a href="vendor-dashboard.html">Vendor Dashboard</a></li>
                                <li><a href="vendor-guide.html">Vendor Guide</a></li>
                            </ul> -->
            </li>
            <li class="menu-item-has-children">
              <a href="{% url 'products:product-list' %}">shop</a>
              <!-- <ul class="dropdown">
                                <li><a href="shop-grid-right.html">Shop Grid – Right Sidebar</a></li>
                                <li><a href="shop-grid-left.html">Shop Grid – Left Sidebar</a></li>
                                <li><a href="shop-list-right.html">Shop List – Right Sidebar</a></li>
                                <li><a href="shop-list-left.html">Shop List – Left Sidebar</a></li>
                                <li><a href="shop-fullwidth.html">Shop - Wide</a></li>
                                <li class="menu-item-has-children">
                                    <a href="#">Single Product</a>
                                    <ul class="dropdown">
                                        <li><a href="shop-product-right.html">Product – Right Sidebar</a></li>
                                        <li><a href="shop-product-left.html">Product – Left Sidebar</a></li>
                                        <li><a href="shop-product-full.html">Product – No sidebar</a></li>
                                        <li><a href="shop-product-vendor.html">Product – Vendor Infor</a></li>
                                    </ul>
                                </li>
                                <li><a href="shop-filter.html">Shop – Filter</a></li>
                                <li><a href="shop-wishlist.html">Shop – Wishlist</a></li>
                                <li><a href="shop-cart.html">Shop – Cart</a></li>
                                <li><a href="shop-checkout.html">Shop – Checkout</a></li>
                                <li><a href="shop-compare.html">Shop – Compare</a></li>
                                <li class="menu-item-has-children">
                                    <a href="#">Shop Invoice</a>
                                    <ul class="dropdown">
                                        <li><a href="shop-invoice-1.html">Shop Invoice 1</a></li>
                                        <li><a href="shop-invoice-2.html">Shop Invoice 2</a></li>
                                        <li><a href="shop-invoice-3.html">Shop Invoice 3</a></li>
                                        <li><a href="shop-invoice-4.html">Shop Invoice 4</a></li>
                                        <li><a href="shop-invoice-5.html">Shop Invoice 5</a></li>
                                        <li><a href="shop-invoice-6.html">Shop Invoice 6</a></li>
                                    </ul>
                                </li>
                            </ul> -->
            </li>
            <li class="menu-item-has-children">
              <a href="{% url 'vendor:vendor-list' %}">Vendors</a>
              <!-- <ul class="dropdown">
                                <li><a href="vendors-grid.html">Vendors Grid</a></li>
                                <li><a href="vendors-list.html">Vendors List</a></li>
                                <li><a href="vendor-details-1.html">Vendor Details 01</a></li>
                                <li><a href="vendor-details-2.html">Vendor Details 02</a></li>
                                <li><a href="vendor-dashboard.html">Vendor Dashboard</a></li>
                                <li><a href="vendor-guide.html">Vendor Guide</a></li>
                            </ul> -->
            </li>
            <li class="menu-item-has-children">
              <a href="#">Mega menu</a>
              <!-- <ul class="dropdown">
                                <li class="menu-item-has-children">
                                    <a href="#">Women's Fashion</a>
                                    <ul class="dropdown">
                                        <li><a href="shop-product-right.html">Dresses</a></li>
                                        <li><a href="shop-product-right.html">Blouses & Shirts</a></li>
                                        <li><a href="shop-product-right.html">Hoodies & Sweatshirts</a></li>
                                        <li><a href="shop-product-right.html">Women's Sets</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="#">Men's Fashion</a>
                                    <ul class="dropdown">
                                        <li><a href="shop-product-right.html">Jackets</a></li>
                                        <li><a href="shop-product-right.html">Casual Faux Leather</a></li>
                                        <li><a href="shop-product-right.html">Genuine Leather</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="#">Technology</a>
                                    <ul class="dropdown">
                                        <li><a href="shop-product-right.html">Gaming Laptops</a></li>
                                        <li><a href="shop-product-right.html">Ultraslim Laptops</a></li>
                                        <li><a href="shop-product-right.html">Tablets</a></li>
                                        <li><a href="shop-product-right.html">Laptop Accessories</a></li>
                                        <li><a href="shop-product-right.html">Tablet Accessories</a></li>
                                    </ul>
                                </li>
                            </ul> -->
            </li>
            <li class="menu-item-has-children">
              <a href="#">Blog</a>
              <!-- <ul class="dropdown">
                                <li><a href="blog-category-grid.html">Blog Category Grid</a></li>
                                <li><a href="blog-category-list.html">Blog Category List</a></li>
                                <li><a href="blog-category-big.html">Blog Category Big</a></li>
                                <li><a href="blog-category-fullwidth.html">Blog Category Wide</a></li>
                                <li class="menu-item-has-children">
                                    <a href="#">Single Product Layout</a>
                                    <ul class="dropdown">
                                        <li><a href="blog-post-left.html">Left Sidebar</a></li>
                                        <li><a href="blog-post-right.html">Right Sidebar</a></li>
                                        <li><a href="blog-post-fullwidth.html">No Sidebar</a></li>
                                    </ul>
                                </li>
                            </ul> -->
            </li>
            <li class="menu-item-has-children">
              <a href="#">Pages</a>
              <ul class="dropdown">
                <li><a href="{% url 'core:about_us' %}">About Us</a></li>
                <li><a href="{% url 'core:contact' %}">Contact</a></li>
                <li><a href="{% url 'core:dashboard' %}">My Account</a></li>
                <li><a href="{% url 'userauths:sign-in' %}">Login</a></li>
                <li><a href="{% url 'userauths:sign-up' %}">Register</a></li>
                <!-- <li><a href="page-forgot-password.html">Forgot password</a></li>
                                <li><a href="page-reset-password.html">Reset password</a></li> -->
                <li>
                  <a href="{% url 'core:purchase_guide' %}">Purchase Guide</a>
                </li>
                <li>
                  <a href="{% url 'core:privacy_policy' %}">Privacy Policy</a>
                </li>
                <li>
                  <a href="{% url 'core:terms_of_service' %}"
                    >Terms of Service</a
                  >
                </li>
                <!-- <li><a href="page-404.html">404 Page</a></li> -->
              </ul>
            </li>
            <li class="menu-item-has-children">
              <a href="#">Language</a>
              <ul class="dropdown">
                <li><a href="#">English</a></li>
                <li><a href="#">French</a></li>
                <li><a href="#">German</a></li>
                <li><a href="#">Spanish</a></li>
              </ul>
            </li>
          </ul>
        </nav>
        <!-- mobile menu end -->
      </div>
      <div class="mobile-header-info-wrap">
        <div class="single-mobile-header-info">
          <a href="#"><i class="fi-rs-marker"></i> Our location </a>
        </div>
        <div class="single-mobile-header-info">
          <a href="{% url 'userauths:sign-in' %}"
            ><i class="fi-rs-user"></i>Log In / Sign Up
          </a>
        </div>
        <div class="single-mobile-header-info">
          <a href="#"><i class="fi-rs-headphones"></i>+234 708-548-8324 </a>
        </div>
      </div>
      <div class="mobile-social-icon mb-50">
        <h6 class="mb-15">Follow Us</h6>
        <a href="#"
          ><img
            src="{% static 'assets/imgs/theme/icons/icon-facebook-white.svg' %}"
            alt=""
        /></a>
        <a href="#"
          ><img
            src="{% static 'assets/imgs/theme/icons/icon-twitter-white.svg' %}"
            alt=""
        /></a>
        <a href="#"
          ><img
            src="{% static 'assets/imgs/theme/icons/icon-instagram-white.svg' %}"
            alt=""
        /></a>
        <a href="#"
          ><img
            src="{% static 'assets/imgs/theme/icons/icon-pinterest-white.svg' %}"
            alt=""
        /></a>
        <a href="#"
          ><img
            src="{% static 'assets/imgs/theme/icons/icon-youtube-white.svg' %}"
            alt=""
        /></a>
      </div>
      <div class="site-copyright">
        Copyright 2022 - {% now "Y" %} © PhoenixMart. All rights reserved.
      </div>
    </div>
  </div>
</div>
